﻿<footer id="rs-footer" class="rs-footer rss-foooter">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="about-widget">
                        <a href="~/"><img class="footer_image_width" src="~/images/logo/logo_footer.PNG" alt="Footer Logo"></a>
                        <p>iMenuWeb is tailor made for takeaways, restaurants and any business which operates in the hospitality industry. Both the branded website and the EPOS system have been developed based on feedback from our clients.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h3 class="footer-title">LINKS</h3>
                    <ul class="sitemap-widget">
                        <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
                        <li class="active"><a href="/takeaway-ordering-system"><i class="fa fa-angle-right" aria-hidden="true"></i>Benefits</a></li>
                        <li><a href="/fast-food-restaurant-website"><i class="fa fa-angle-right" aria-hidden="true"></i>Features & Pricing</a></li>
                        <li><a href="/best-restaurant-websites"><i class="fa fa-angle-right" aria-hidden="true"></i>How it Works</a></li>
                        <li><a href="/contact"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h3 class="footer-title foooter-title">RESOURCES</h3>
                    <ul class="sitemap-widget">
                        <li class="active"><a href="http://demo.imenuweb.co.uk"><i class="fa fa-angle-right" aria-hidden="true"></i>iMenu Demo Site</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright">
                        <p>&copy; 2018 <a href="http://www.workflowdynamix.com/" target="_blank">Workflow Dynamix Digital Marketing</a>. All Rights Reserved.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>