﻿<header id="rs-header">
    <!-- Toolbar Start -->
    <div class="toolbar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-8 col-xs-12">
                    <div class="toolbar-contact">
                        <ul>
                            <li><i class="fa fa-phone"></i><a href="tel:+4401283684020">+44 (0) 1283 684020</a></li>
                            <li class=""><i class="fa fa-envelope-o"></i><a href="mailto:info@imenuweb.co.uk">info@imenuweb.co.uk</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-4 col-xs-12">
                    <div class="toolbar-sl-share">
                        <ul>
                            <li><a href="https://www.facebook.com/iMenuWeb/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.youtube.com/playlist?list=PLYng9L41PGUh98tOm-VNyWiPt6Da0qCKE"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Toolbar End -->
    <!-- Header Menu Start -->
    <div class="menu-area header2 menu-sticky">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="logo-area">
                        <a class="main--logo" href="~/"><img src="~/images/logo/logo_footer.png" alt="logo"></a>
                        <a class="sticky-logo" href="~/"><img src="~/Images/imenu-red-orange.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div id="main-nav" class="stellarnav">
                        <ul>
                            <li>
                                <a href="~/"><strong>Home</strong></a>
                            </li>
                            <li>
                                <a href="/takeaway-ordering-system"><strong>BENEFITS</strong></a>
                            </li>
                            <li>
                                <a href="/fast-food-restaurant-website"><strong>FEATURES &amp; PRICES</strong></a>
                            </li>
                            <li>
                                <a href="/best-restaurant-websites"><strong>HOW IT WORKS</strong></a>
                            </li>
                            <li>
                                <a href="/contact"><strong>CONTACT US</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Menu End -->
</header>