﻿<div class="slider-main slider-home">
    <div id="main-slider" class="owl-carousel">
        <div class="item">
            <img src="~/images/slider/banner1.png" alt="slider image">
            <div class="inner-slider">
                <div class="dsc">
                    <h1 data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">EPOS & Website Restaurant software</h1>
                    <p data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft"><strong>0% COMMISSION, FREE HARDWARE, NO CONTRACT, NO SETUP COSTS</strong></p>
                    <div class="btn-slider">
                        <a href="/contact" class="readon yellow mr-25" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">GET STARTED</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/slider/Banner2.png" alt="slider image">
            <div class="inner-slider">
                <div class="dsc">
                    <h1 data-animation-in="slideInDown" data-animation-out="animate-out fadeOutUp">Online Takeaway Website</h1>
                    <p data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft"><strong>INCREASE SALES, REDUCE COSTS, LET US SHOW YOU HOW</strong></p>
                    <div class="btn-slider">
                        <a href="/contact" class="readon yellow mr-25" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">GET STARTED</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>