﻿<section id="homepage-tabbed" class="tabbed-information mb-30 mt-30 shelf">
    <div class="container">

        <ul class="tabbed nav nav-tabs" role="tablist">
            <li class="col-xs-12 col-md-4 complete-systems active">
                <a role="tab" href="#home" data-toggle="tab" class="tab-systems" aria-expanded="false">Special Offer Lifetime Deal</a>
            </li>
            @*<li class="col-xs-12 col-md-4 ipad-and-android ">
                <a role="tab" href="#messages" data-toggle="tab" class="tab-ipad" aria-expanded="true">iPad &amp; Android</a>
            </li>
            <li class="col-xs-12 col-md-4 software">
                <a role="tab" href="#settings" data-toggle="tab" class="tab-software" aria-expanded="false">Software</a>
            </li>*@
        </ul>

        <div class="tab-content clearfix col-sm-12 pb-0">

            <div id="home" class="tab-pane clearfix active">
                <div class="row">

                    <div class="col-xs-12 col-sm-6">
                        <img class="img-responsive main-img till-img pb-20" alt="EPOS System" src="~/Images/Tab_Images/tab-image2.png">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <div class="col-md-12">
                            <img class="img-responsive award-logo" src="~/Images/Tab_Images/tab-image1.png">
                        </div>
                        <hr class="hr_border_color">
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="clearfix row">
                            <div class="col-xs-6 col-sm-4 epos-info epos-info-left">
                                <img class="img-responsive inline-block" alt="Epos Now logo" src="~/images/imenu-red-orange.png">
                            </div>
                        </div>
                        <p class="font_30_bold mt-30 mb-20">4 Systems for the Price of 1</p>
                        <div class="p-wrapper">
                            <p>
                                <strong>System 1: Food Ordering Website</strong>
                            </p>
                            <p>
                                Here at iMenuWeb we have developed a dummy proof <a href="http://www.imenuweb.co.uk/fast-food-restaurant-website">food ordering system </a> which mimics the ordering process of Just Eat. New and existing customers will be able to place orders online with ease and you pay 0% commissions!
                            </p>
                            <p>
                                <strong>System 2: EPOS (Standalone or integrates with Website)</strong>
                            </p>
                            <p>
                                The iMenuWeb <a href="http://www.imenuweb.co.uk/">EPOS system</a> is one of the most powerful on the market, yet its simplicity makes it the best available. Easy order taking which minimises mistakes and streamlines the food preparation processes.
                            </p>
                            <p>
                                <strong>System 3: Android Mobile App</strong>
                            </p>
                            <p>
                                Available for free on GooglePlay, your customers can download your App, order and pay by card or pay upon delivery/collection.
                            </p>
                            <p>
                                <strong>System 4: iPhone Mobile App</strong>
                            </p>
                            <p>
                                Available for free from the AppStore, a very easy and convenient App for ordering and payments.
                            </p>
                        </div>
                        <div class="mt-40 btns-right">
                            <a href="/takeaway-ordering-system" class="col-xs-12 col-sm-12 col-md-4 margin_bottom_media_tabbed readon yellow text-center" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Learn More</a>
                            <a href="/contact" class="col-xs-12 col-sm-12 col-md-offset-1 col-md-4 margin_bottom_media_tabbed readon yellow text-center" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp"><span class="hidden-xs">Request a Quote</span><span class="visible-xs">Quote</span></a>
                        </div>
                        <h4 class="telno mb-20 mb-0 pull-left"> OR CALL ON <strong> <a href="tel:(802) 952-3675" class="tel-link"><span class="tel-no">&nbsp;<strong>01283 68 40 20</strong></span></a></strong></h4>
                    </div>

                </div>
            </div>

            @*<div id="messages" class="tab-pane clearfix ">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="clearfix row">
                            <div class="col-xs-6 col-sm-4 epos-info epos-info-left">
                                <img class="img-responsive inline-block" alt="EPOS" src="~/Images/Tab_Images/logo-small.png">
                            </div>
                        </div>
                        <p class="font_30_bold mt-30 mb-20">Tablet Point-of-sale</p>
                        <div class="p-wrapper">
                            <p>
                                Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                            </p>
                            <p>
                                Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                            </p>
                            <p>
                                Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                            </p>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <img class="img-responsive main-img pt-15 pb-10" alt="Epos on iPad" src="~/Images/Tab_Images/ipad_android.png">
                        <div class="col-md-12">
                            <img class="img-responsive award-logo" src="~/Images/Tab_Images/iPad&TabletAwardsHomepage@2x.png">
                        </div>
                        <hr class="hr_border_color">

                    </div>

                    <div class="col-md-6">
                        <div class="mt-20 btns-left text-center">
                            <a href="#" class="col-xs-12 col-sm-12 col-md-4 margin_bottom_media_tabbed readon yellow text-center" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Learn More</a>
                            <a href="#" class="col-xs-12 col-sm-12 col-md-offset-1 col-md-4 margin_bottom_media_tabbed readon yellow text-center" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp"><span class="hidden-xs">Request a Quote</span><span class="visible-xs">Quote</span></a>
                        </div>

                        <h4 class="telno mb-20 mb-0 pull-left"> Or call on <strong> <a href="tel:(802) 952-3675" class="tel-link"><span class="tel-no">(802) 952-3675</span></a></strong></h4>
                    </div>

                </div>
            </div>
            <div id="settings" class="tab-pane clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <img class="img-responsive main-img" alt="EPOS software on Computer, Mac, iPad, Tablet" src="~/Images/Tab_Images/complete_system.png">
                        <div class="col-md-12">
                            <img class="img-responsive award-logo" src="~/Images/Tab_Images/SoftwareAwardsHomepage@2x.png">
                        </div>
                        <hr class="hr_border_color">
                        <div class="mt-20 btns-left text-center">
                            <a class="btn btn-normal-state-two free-trial">Free Trial</a>
                            <a class="btn btn-normal-state-one pricing" href="#">Pricing</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="clearfix row">
                            <div class="col-xs-6 col-sm-4 epos-info epos-info-left">
                                <img class="img-responsive inline-block" alt="Epos logo" src="~/Images/Tab_Images/logo-small.png">
                            </div>
                        </div>
                        <p class="font_30_bold mt-30 mb-20">Instant setup on any device</p>
                        <div class="p-wrapper">
                            <p>
                                Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                            </p>
                            <p>
                                Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                            </p>
                            <p>
                                Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text.
                            </p>
                        </div>
                        <div class="mt-40 btns-right">
                            <a href="#" class="col-xs-12 col-sm-12 col-md-4 margin_bottom_media_tabbed readon yellow text-center" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Learn More</a>
                            <a href="#" class="col-xs-12 col-sm-12 col-md-offset-1 col-md-3 margin_bottom_media_tabbed readon yellow text-center" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Free Trial</a>
                            <a href="#" class="col-xs-12 col-sm-12 col-md-offset-1 col-md-3 margin_bottom_media_tabbed readon yellow text-center" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Pricing</a>
                        </div>
                        <h4 class="telno mb-20 mb-0 pull-left"> Or call on  <strong> <a href="tel:(802) 952-3675" class="tel-link"><span class="tel-no">(802) 952-3675</span></a></strong></h4>
                    </div>
                </div>
            </div>*@

        </div>
    </div>
</section>