﻿@section meta_info{
    <title>Online Takeaway Website | Takeaway Ordering System | iMenuWeb</title>
    <meta name="description" content="iMenuWeb provides online take away websites or takeaway ordering system so that you can manage your customers and understand your business in a very simple way." />
    
<link rel=”canonical” href=”http://www.imenuweb.co.uk/takeaway-ordering-system” />
}

@{
    ViewBag.pageName = "benefits";
}

<!--Header Start-->
@{
    Html.RenderPartial("Include_Views/Header");
}

<!--Header End-->
<!-- Slider Section Start Here -->

<div class="slider-main slider-home">
    <div class="benefits_image">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 p_t_175_l_80">
                <h1 class="white-color" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">STOP PAYING THOUSANDS OF POUNDS! </h1>
                <p class="white-color" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft">
                    Are you fed up with having to pay JustEat and Hungry house £1000s of your hard earned profit?
                    Are you frustrated with not having any control of your customer database?
                </p>
                <ul class="white-color">
                    <li><p class="mb-10"><span class="fa fa-check pr-15"></span>Your very own branded website</p></li>
                    <li><p class="mb-10"><span class="fa fa-check pr-15"></span>Hosting is taken care of</p></li>
                    <li><p class="mb-10"><span class="fa fa-check pr-15"></span>Brand awareness SMS service</p></li>
                    <li><p class="mb-10"><span class="fa fa-check pr-15"></span>Email marketing</p></li>
                    <li><p class="mb-10"><span class="fa fa-check pr-15"></span>Reports and statistics</p></li>
                </ul>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 slider_btn_benefits"><a href="/contact" class="readon mt-30" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Get in Touch</a></div>
                </div>


            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 p_t_175_l_80 video_div_center">
                <iframe width="85%" height="250px" src="https://www.youtube.com/embed/piyGnHPLSgE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row mt-60">
            <div class="col-xs-12 col-sm-12 col-md-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                <a href="/contact" class="readon yellow" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp" style="width:70%;">Start Free Trial</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4"></div>
        </div>
    </div>
</div>

<!-- Slider Section end Here -->

<div class="pt-70"></div>
<!-- REVIEWS Start -->
<div id="rs-blog" class="rs-blog pt-45 pb-40 mb-60">
    <div class="container">
        <div class="sec-title">
            <h1 style="text-align:center;">ONLINE TAKEAWAY WEBSITE</h1>
        </div>
        <div class="row">
            <div class="blog-item">
                <div class="blog-desc text-left">
                    <p>If you are reading this then the chances are that you are searching for a takeaway ordering system or <a href="http://www.imenuweb.co.uk/takeaway-ordering-system">online takeaway website</a> that won't cost the earth. You want to get ahead of your competition and create a long lasting online presence and/or you are sick and tired of the rising commissions being charged by companies such as JustEat.  You want to attract new customers which will help your business grow and reach the potential that you know it is capable of.</p><p>&nbsp;</p>
                    <p>If any of the above assumptions are correct then I would urge you to continue reading this article.</p><p>&nbsp;</p>
                    <p>How many times have you used Google to find some important information or used your smart device to make a purchase online? I know I am guilty of both of those actions and this is a growing trend amongst your customers too. With 87% of the UK population having purchased a product or service online it is clear that your business needs a strong online presence.</p><p>&nbsp;</p>
                    <p>More and more people are turning to their smart devices to perform everyday tasks such as banking, shopping and you guessed it - ordering their favourite food which could be prepared and served in your takeaway or restaurant.</p><p>&nbsp;</p>
                    <p>Here at iMenuWeb we understand that as a business owner you have a need to dedicate your time in the running of your business. We would like to take the stress out of creating, hosting and maintaining your website, all you need to do is what you do best - provide delicious food and excellent customer service. Whether you are looking for a <a href="http://www.imenuweb.co.uk/takeaway-ordering-system">takeaway ordering system</a> or a <a href="http://www.imenuweb.co.uk/takeaway-ordering-system">takeaway website</a>, we have the solution for you.</p><p>&nbsp;</p>
                    <p>Contact us today to find out how we can help your business to grow and thrive.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- REVIEWS Start -->
<!-- Partner Start -->
<div id="rs-partner-custom" class="rs-partner sec-spacer pt-20 mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-2 mb-15 text-center">
                <a href="#"><img src="~/Images/badge.png" alt="Partner Image"></a>
            </div>

            <div class="col-sm-12 col-xs-12 col-md-8 white-bg mb-15 p-0 benefits_customer" style="">

                <div class="col-xs-12 col-sm-12 col-md-6 p_t_30_l_20">
                    <h3 class="white-color" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">Your Very Own Branded Website </h3>
                    <p class="white-color" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft">
                        With the iMenuWeb your customers can order directly from your mobile friendly website or your mobile App on the go. You pay no commissions on orders – you pay an affordable flat monthly fee with no order restrictions!
                    </p>
                    <h3 class="white-color" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">Hosting Is Taken Care Of </h3>
                    <p class="white-color" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft">
                        We take care of hosting and the maintenance of your website to make sure that your website remains online and continues to make you £1000s every month.
                    </p>
                    <h3 class="white-color" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">Branded SMS Service </h3>
                    <p class="white-color" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft">
                        iMenuWeb offers an affordable way to reach all of your customers, SMS marketing is a powerful tool and our clients have found that it helps to boost sales. Your customers receive an SMS with your business name as the sender ID.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 p_t_30_l_20">
                    <h3 class="white-color" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">Your Own EPOS System </h3>
                    <p class="white-color" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft">
                        Want a professional image to go with the high level of tasty food and services that you offer? Whether you need a compuer or tablet, we have the solution for you.
                    </p>
                    <h3 class="white-color" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">Email Marketing </h3>
                    <p class="white-color" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft">
                        A free tool to allow you to send your customers information about new products and special offers.
                    </p>
                    <h3 class="white-color" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">Reports & Statistics </h3>
                    <p class="white-color" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft">
                        View and print stats and reports at a click of a button, perform X and Z reports with ease.
                    </p>
                </div>
            </div>
        </div>
        <div class="row pt-70" id="contact_us">
            <div class="col-xs-12 col-sm-4 col-md-4 text-center">
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                <a href="/fast-food-restaurant-website" class="readone white-color" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Features and Pricing</a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 text-center">
            </div>
        </div>
    </div>
</div>
<!-- Partner End -->
<!-- Contact Form Start -->
<div id="rs-contactform" class="rs-contactform sec-spacer mb-60" style="background: #f0f0f0;">
    <div class="container">
        <div class="sec-title">
            <h2 class="black-color">Get In Touch</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @{
                Html.RenderPartial("GetInTouchEmail");
            }
        </div>
    </div>
    <div id="contact_us" class="">
        <div class="container">
            <div class="row mt-20">
                <div class="col-xs-12 col-sm-12 col-md-4 text-center"></div>
                <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                    <a href="~/" class="readtwo white-color readtwo_benefits" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Home</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 text-center"></div>
            </div>
        </div>
    </div>

</div>
<!-- Contact Form End -->
<!-- Footer Start -->
@{
    Html.RenderPartial("Include_Views/Footer_Landing_View");
}

<!-- Footer End -->
<!-- start scrollUp  -->

<div id="scrollUp">
    <i class="fa fa-angle-up"></i>
</div>

<!-- modernizr js -->