﻿@section meta_info{
    <title>Contact Us | iMenuWeb</title>
    <meta name="description" content="META DESCRIPTION    The iMenuWeb EPOS system is one of the most powerful on the market, yet its simplicity makes it the best available. For more details, please contact us : T: +44 (0) 1283 68 40 20, E: info@imenuweb.co.uk" />
    <link rel=”canonical” href=”http://www.imenuweb.co.uk/contact” />
}

<!--Header Start-->
@{
    Html.RenderPartial("Include_Views/Header");
}
<!--Header End-->
<!-- Slider Section Start Here -->
<div class="rs-breadcrumbs sec-spacer mb-60">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="breadcrumbs-inner">
                    <h1></h1>
                    <p class="white-color font-22" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft"><strong>NO MORE COMMISSIONS. REACH MORE CUSTOMERS.</strong><br /><strong>INCREASE SALES. DECREASE COSTS.</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Slider Section end Here -->
<!-- Contact Form Start -->
<div id="rs-contactform" class="rs-contactform sec-spacer mb-60" style="background: #f0f0f0;">
    <div class="container">
        <div class="sec-title">
            <h2 class="black-color">Get In Touch</h2>
            @*<h4 class="subtitle">Write your name and say a few words</h4>*@
        </div>
    </div>
    <div class="container">
        <div class="row">
            @Html.Raw(ViewBag.Alert)
            @{
                Html.RenderPartial("GetInTouchEmail");
            }
        </div>
    </div>
</div>

<div id="my-content" class="contact-info">
    <div class="container-fluid full-width">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 padding-0">
                <div class="apper-content">
                    <div class="contact-details">
                        <h2 class="white-color">Contact Info</h2>
                        <p>
                            iMenuWeb owned by
                            Workflow Dynamix Ltd.<br>14 Albert Street, Burton Upon Trent
                            Staffordshire, DE14 2NL<br>
                            T: +44 (0) 1283 684020<br />
                            E: info@imenuweb.co.uk
                            @*Company Registration Number: 9617827*@
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br />

<!-- Contact info Start -->
<div id="contact-info2" class="contact-info2">
    <div class="container-fluid full-width">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 padding-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2411.658271265492!2d-1.644069084106672!3d52.81049842241192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a0251eb9f32bf%3A0x1a5e16d79cd9a75f!2siMenuWeb+-+EPOS+and+Online+Orderding+Systems+For+Fast+Food+Restaurants!5e0!3m2!1sen!2s!4v1516963135911" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
                <div id="hide_contect_div" class="contact-details">
                    <div class="get_in_touch">
                        <div class="get_in_touch_wrapper">
                            <h2 class="">Contact Info</h2>
                            <h4 class="white-color mb-0">iMenuWeb</h4>
                            <h6 class="white-color mb-0">owned by Workflow Dynamix Ltd</h6>
                            <ul>
                                <li class="address">
                                    <span class="address_wrapper">14 Albert Street, Burton Upon Trent<br> Staffordshire, DE14 2NL<br><a href="tel:+4401283684020">T: +44 (0) 1283 68 40 20</a><br>E: <a style="color:blue !important" href="mailto:info@imenuweb.co.uk">info@imenuweb.co.uk</a><br> @*Company Registration Number: 9617827*@ </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact info End -->
<!-- Footer Start -->
@{
    Html.RenderPartial("Include_Views/Footer_Landing_View");
}

<!-- Footer End -->
<!-- start scrollUp  -->

<div id="scrollUp">
    <i class="fa fa-angle-up"></i>
</div>

<!-- modernizr js -->