﻿@section meta_info{
    <title>Fast Food Restaurant Website | Fast Food Website | iMenuWeb</title>
    <meta name="description" content="Get the best fast food restaurant website. iMenuWeb is a revolutionary web application that gives fast food places and traditional restaurants." />
    <link rel=”canonical” href=”http://www.imenuweb.co.uk/fast-food-restaurant-website” />
}

<!--Header Start-->
@{
    Html.RenderPartial("Include_Views/Header");
}

<!--Header End-->
<!-- Slider Section Start Here -->

<div class="slider-main slider-home mb-60">
    <div class="overlay blue_orange_background_gradient">
        <div class="row pt-130">
            <div class="col-xs-1 col-sm-2 col-md-3"></div>
            <div id="paypal_img_div" class="col-xs-10 col-sm-8 col-md-6 text-center">
                <h1 class="white-color pt-45" data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">Nothing to Lose, Everything to Gain </h1>
                <p class="white-color" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutLeft">Very low prices at very high quality. You have nothing to lose so give us a try!</p>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3"></div>
        </div>

        <div class="row pt-70 pb-70">
            <div class="col-xs-12 col-sm-12 col-md-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                <a href="/contact" class="readon_orange_btn" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Start Free Trial</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4"></div>
        </div>
    </div>
</div>

<!-- Slider Section end Here -->
<div id="list_features_div" class="mb-60">
    <div class="container">
        <div class="row">
            <div id="myHeader" class="hidden-xs hidden-sm col-md-2">
            </div>
            <div class="col-md-8">
                <!-- Component bComparisonTable -->
                <div id="comparison" class="avg-comparison-table transparent-table gray-bg">
                    <div class="avg-comparison-table-inner">
                        <table class="table table-responsive products-3">
                            <thead>
                                <tr>
                                    <th class="feature" width="40%">
                                        <h2><span class="text-black">4 Systems that work together</span></h2>

                                    </th>
                                    <th class="column text-center position-relative  selected custom-image">
                                        <a href="#" class="initial display-block" data-platform="{&quot;platform_pc&quot;:&quot;/en-ww/file-server-business-edition&quot;,&quot;platform_android&quot;:&quot;&quot;,&quot;platform_ios&quot;:&quot;&quot;,&quot;platform_mac&quot;:&quot;&quot;}">
                                            <img src="~/Content/images/fav.png" alt="Sample Text Sample Text Sample Text ">
                                            <h3 class="text-medium">Online food ordering website   </h3>
                                        </a>
                                    </th>
                                    <th class="column text-center position-relative  selected custom-image">
                                        <a href="#" class="initial display-block" data-platform="{&quot;platform_pc&quot;:&quot;/en-ww/antivirus-business-edition&quot;,&quot;platform_android&quot;:&quot;&quot;,&quot;platform_ios&quot;:&quot;&quot;,&quot;platform_mac&quot;:&quot;&quot;}">
                                            <img src="~/Content/images/fav.png" alt="Sample Text Sample Text Sample Text ">
                                            <h3 class="text-medium">Fast and easy to use EPOS system </h3>
                                        </a>
                                    </th>
                                    <th class="column text-center position-relative  selected custom-image">
                                        <a href="#" class="initial display-block" data-platform="{&quot;platform_pc&quot;:&quot;/en-ww/internet-security-business-edition&quot;,&quot;platform_android&quot;:&quot;&quot;,&quot;platform_ios&quot;:&quot;&quot;,&quot;platform_mac&quot;:&quot;&quot;}">
                                            <img src="~/Content/images/fav.png" alt="Sample Text Sample Text Sample Text ">
                                            <h3 class="text-medium">Android and iPhone mobile Apps</h3>
                                        </a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="text-left feature">
                                        <span class="feature-heading">
                                            Customers can pay by Card
                                        </span>
                                    </td>
                                    <td class="column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="dark_green_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="orange_red_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left feature">
                                        <span class="feature-heading">
                                            You control your menu and prices
                                        </span>
                                    </td>
                                    <td class="column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="dark_green_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="orange_red_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left feature">
                                        <span class="feature-heading">
                                            Create your own discount schemes
                                        </span>
                                    </td>
                                    <td class="column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="dark_green_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="orange_red_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left feature">
                                        <span class="feature-heading">
                                            Analytics module
                                        </span>
                                    </td>
                                    <td class="column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="dark_green_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="orange_red_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left feature">
                                        <span class="feature-heading">
                                            Driver management portal
                                        </span>
                                    </td>
                                    <td class="column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="dark_green_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="orange_red_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left feature">
                                        <span class="feature-heading">
                                            Flexible delivery distance checker
                                        </span>
                                    </td>
                                    <td class="column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="dark_green_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="orange_red_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left feature">
                                        <span class="feature-heading">
                                            SMS functionality
                                        </span>
                                    </td>
                                    <td class="column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="dark_green_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="orange_red_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left feature">
                                        <span class="feature-heading">
                                            FREE technical support
                                        </span>
                                    </td>
                                    <td class="column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="dark_green_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="orange_red_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left feature">
                                        <span class="feature-heading">
                                            Secure Multiuser level system access

                                        </span>
                                    </td>
                                    <td class="column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="dark_green_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="orange_red_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left feature">
                                        <span class="feature-heading">
                                            Caller Id/Postcode and address lookup

                                        </span>
                                    </td>
                                    <td class="column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="dark_green_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                    <td class=" column tick">
                                        <span class="ficon-tick text-nevada">
                                            <i class="orange_red_color fa fa-check fa-1_4x"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left feature">
                                        <div class="group-sni-0-ref-1287 wrapper   ">
                                            <div class="row">
                                                <div class="col col-sni-2-ref-1287 col-xs-12 col-md-3">
                                                    <!-- Component bImage -->
                                                    <div class="bg-image-sni-3-ref-1287 image_width">
                                                        <img src="~/Content/images/fav.png" alt="Sample Text Sample Text Sample Text">
                                                    </div>
                                                    <style>
                                                        .bg-image-sni-3-ref-1287 img {
                                                            width: 100%;
                                                            max-width: 55px;
                                                        }
                                                    </style>
                                                    <!-- /Component bImage -->
                                                </div>
                                                <div class="">
                                                    <div class="text padding-md-right-tiny">
                                                        <p class="text-medium font-avg-sans-4 margin-xs-top-none margin-xs-bottom-none text-green p_margin">Contact us for a simple and non-technical chat</p>
                                                    </div>
                                                </div>
                                                <div class="clearfix "></div>
                                            </div>
                                        </div>

                                    </td>
                                    <td class="column tick">
                                        <div class="text-center">
                                            <a href="/contact" class="readon small_button_table sec_small_btn" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Buy</a>
                                        </div>
                                    </td>
                                    <td class=" column tick">
                                        <div class="text-center">
                                            <a href="/contact" class="readon small_button_table sec_small_btn" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Buy</a>
                                        </div>
                                    </td>
                                    <td class=" column tick">
                                        <div class="text-center">
                                            <a href="/contact" class="readon small_button_table sec_small_btn" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Buy</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /Component bComparisonTable -->
            </div>
            <div id="myHeader" class="hidden-xs hidden-sm col-md-2">
            </div>
        </div>


        <div class="row mt-70">
            <div class="col-xs-12 col-sm-3 col-md-4 text-center"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="/takeaway-ordering-system" class="checkout_benefits white-color" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Check Out Benefits</a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-4 text-center"></div>
        </div>

        @{
            Html.RenderPartial("FeaturesPricingContactMeEmail");
        }

    </div>
</div>

<!-- REVIEWS Start -->
<div id="rs-blog" class="rs-blog pt-45 pb-40 mb-60">
    <div class="container">
        <div class="sec-title">
            <h1 style="text-align:center;">FAST FOOD RESTAURANT WEBSITE</h1>
        </div>
        <div class="row">
            <div class="blog-item">
                <div class="blog-desc text-left">
                    <p>Welcome to iMenuWeb Food ordering systems. The fact that you have arrived here shows very clearly that you are a forward thinking business owner who is not satisfied with the heavy reliance on shared platforms such as JustEat. Justas’s success in the market has led to a rise in commissions and additional fee's.</p><p>&nbsp;</p>
                    <p>Have you ever considered how different things could be if you didn't rely so heavily on JustEat? It is possible and many of our clients, takeaway and restaurant owners just like you have done just that.</p><p>&nbsp;</p>
                    <p>iMenuWeb offers your business a state of the art <a href="http://www.imenuweb.co.uk/fast-food-restaurant-website">fast food restaurant website</a> which mimics the ordering process of JustEat. New and existing customers can order food directly from any mobile device, laptop or from your very own IOS and Android App.</p><p>&nbsp;</p>
                    <p>Many takeaway and restaurant owners such as yourself are made to pay extortionate amounts of commission to companies such as JustEat totalling thousands every year.</p><p>&nbsp;</p>
                    <p>There is a solution, the iMenuWeb fast food <a href="http://www.imenuweb.co.uk/best-restaurant-websites">restaurant website</a> will enable you to channel your existing customers into your very own website. We don't charge commissions, so you can generate thousands each month and whilst not worrying about losing large chunks of profit through rising rates of commission.</p><p>&nbsp;</p>
                    <p>As part of the many services that we offer, here at iMenuWeb we have made it very easy to reach your customers via SMS and email. This type of direct marketing has been proven to be the most effective way of attracting interest to your website.</p><p>&nbsp;</p>
                    <p>We are committed to helping you to create awareness about your website. Your success is our success, we will help you every step of the way until your online business is booming.</p><p>&nbsp;</p>
                    <p>Why not give us a try, you have nothing to lose!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- REVIEWS Start -->
<!-- Footer Start -->
@{
    Html.RenderPartial("Include_Views/Footer_Landing_View");
}

<!-- Footer End -->
<!-- start scrollUp  -->

<div id="scrollUp">
    <i class="fa fa-angle-up"></i>
</div>