﻿@model iMenuWebsite2.Models.ContactEmail

@using (Html.BeginForm("GetInTouchEmail", "Home", new { formType = ViewBag.pageName }, FormMethod.Post, new { name = "getintouch", id = "getintouch", onsubmit = "return validateForm()" }))
{
    @Html.AntiForgeryToken()

    <div id="form-messages"></div>
    <div id="rs-contactform" class="rs-contactform row mt-70">
        <div class="col-sm-12 col-xs-12 col-md-3"></div>
        <div class="col-sm-6 col-md-2">
            @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
            @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "Phone" })
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
            @Html.TextBoxFor(model => model.Email, new { placeholder = "Email" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="col-sm-12 col-xs-12 col-md-3"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center rs-contactform">
            <input class="submit contact_submit_btn" type="submit" value="submit" />
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center"></div>
    </div>
}

<script>
    function validateForm() {
        debugger
        var a = document.forms["getintouch"]["Name"].value;
        var c = document.forms["getintouch"]["Email"].value;
        var d = document.forms["getintouch"]["PhoneNumber"].value;

        if (a == "") {
            document.getElementById("form-messages").innerHTML = "<p>&nbsp;</p><center><h2 style='color:red;'>Please enter your name. Thank you.</h2></center>";
            return false;
        }

        if (d == "") {
            document.getElementById("form-messages").innerHTML = "<p>&nbsp;</p><center><h2 style='color:red;'>Please enter your phone number. Thank you.</h2></center>";
            return false;
        }

        if (!ValidateEmail(c)) {
            document.getElementById("form-messages").innerHTML = "<p>&nbsp;</p><center><h2 style='color:red;'>Please enter a valid email address. Thank you.</h2></center>";
            return false;
        }

        document.getElementById("form-messages").innerHTML = "";
        document.getElementById("form-messages").innerHTML = "<p>&nbsp;</p><center><h2 style='color:blue;'>Thank you for your query. A member of our team will get in touch with you shortly.</h2></center>";
        alert("Thank you for your query. A member of our team will get in touch with you shortly.");
    }

    function ValidateEmail(mail) {
        var regX = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;

        if (regX.test(mail)) {
            return (true)
        }
        return (false)
    }
</script>