﻿@model iMenuWebsite2.Models.ContactEmail

<div class="col-sm-12 col-md-12"><div id="form-messages"></div></div>
@using (Html.BeginForm("GetInTouchEmail", "Home", new { formType = ViewBag.pageName }, FormMethod.Post,new { name = "getintouch", id = "getintouch", onsubmit = "return validateForm()" }))
{
    @Html.AntiForgeryToken()

<div class="col-sm-6 col-md-4">
    @Html.TextBoxFor(model => model.Name, new { placeholder = "Your name" })
    @Html.ValidationMessageFor(model => model.Name)
    @Html.TextBoxFor(model => model.Email, new { placeholder = "Your email" })
    @Html.ValidationMessageFor(model => model.Email)
</div>
<div class="col-xs-12 col-sm-12 col-md-4">
    @Html.TextAreaFor(model => model.Message, new { rows=7, cols=50, @placeholder = "Message" })
    @Html.ValidationMessageFor(model => model.Message)
</div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <input class="submit contact_submit_btn" type="submit" value="submit" />
    </div>
}

<script>
    function validateForm() {
        var a = document.forms["getintouch"]["Name"].value;
        var c = document.forms["getintouch"]["Email"].value;
        var d = document.forms["getintouch"]["Message"].value;

        if (a == "") {
            document.getElementById("form-messages").innerHTML = "<center><h2 style='color:red;'>Please enter your name. Thank you.</h2></center>";
            return false;
        }

        if (!ValidateEmail(c)) {
            document.getElementById("form-messages").innerHTML = "<center><h2 style='color:red;'>Please enter a valid email address. Thank you.</h2></center>";
            return false;
        }

        if (d == "") {
            document.getElementById("form-messages").innerHTML = "<center><h2 style='color:red;'>Please enter your message. Thank you.</h2></center>";
            return false;
        }

        document.getElementById("form-messages").innerHTML = "";
        document.getElementById("form-messages").innerHTML = "<center><h2 style='color:blue;'>Thank you for your query. A member of our team will get in touch with you shortly.</h2></center>";
        alert("Thank you for your query. A member of our team will get in touch with you shortly.");
    }

    function ValidateEmail(mail) {
        var regX = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;

        if (regX.test(mail)) {
            return (true)
        }
        return (false)
    }
</script>