﻿@section meta_info{
    <title>Best Restaurant Websites | Online Ordering System for Takeaway | iMenuWeb</title>
    <meta name="description" content="Best restaurant websites ~ we provide online ordering system for takeaway to your business and also develop mobile apps which give complete solution and able to establish yourself as a global business." />
    <link rel=”canonical” href=”http://www.imenuweb.co.uk/best-restaurant-websites” />
}

<!--Header Start-->
@{
    Html.RenderPartial("Include_Views/Header");
}

<!--Header End-->
<!-- Slider Section Start Here -->

<div class="slider-main slider-home mb-60">
    <div class="overlay blue_orange_background_gradient">
        <div class="row pt-130 pb-40">
            <div class="col-xs-1 col-sm-2 col-md-3"></div>
            <div class="col-xs-10 col-sm-8 col-md-6">
                <h1 class="white-text">GAIN MORE CUSTOMERS. INCREASE SALES. REDUCE COSTS.</h1>
                <p class="white-text">iMenuWeb is a revolutionary suite of software that gives fast food and traditional restaurants the ability to gain an online presence without having to pay over the odds.</p>
                <p class="white-text">
                    Many food retailers rely heavily on companies such as JustEat and Hungry house, however, the large commissions charged by such companies eats into your profits and this results in smaller margins and smaller profits.
                </p>
                <p class="white-text">
                    Click the video to see how iMenuWeb can help your business grow and prosper
                </p>
                <div style="width:100%">
                    <iframe width="100%" height="500px" src="https://www.youtube.com/embed/piyGnHPLSgE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3"></div>
        </div>
    </div>
</div>




<!-- Slider Section end Here -->
<!-- How it Works -->

<div class="gray-bg mb-60 pt-20 pb-45 background_image_shiny_blue">
    <div class="container">
        <div class="sec-title">
            <h2 class="white-color">How it Works</h2>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="~/Images/How-It-Works.png" />
            </div>
        </div>
        <div class="row mt-50">
            <div class="col-xs-12 col-sm-2 col-md-2 text-center"></div>
            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                <a href="/best-restaurant-websites" class="how_it_work_btn white-color btn_font_issue" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Features &amp; Pricing</a>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 text-center"></div>
            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                <a href="http://demo.imenuweb.co.uk" class="how_it_work_btn white-color btn_font_issue" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Try our Demo Site</a>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 text-center"></div>
        </div>
        <div class="row mt-30">
            <div class="col-xs-12 col-sm-3 col-md-4 text-center"></div>
            <div class="col-xs-12 col-sm-3 col-md-4 text-center">
                <img src="~/Images/static_images/badge.png" />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-4 text-center"></div>
        </div>

        <div class="row mt-45">
            <div class="col-xs-12 col-sm-3 col-md-4 text-center"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="/contact" class="readon_orange_btn work_trial_btn" data-animation-in="slideInUp" data-animation-out="animate-out fadeOutUp">Start Free Trial</a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-4 text-center"></div>
        </div>

    </div>
</div>


<!-- How it Works -->
<!-- REVIEWS Start -->
<div id="rs-blog" class="rs-blog pt-45 pb-40 mb-60">
    <div class="container">
        <div class="sec-title">
            <h1 style="text-align:center;">BEST RESTAURANT WEBSITES</h1>
        </div>
        <div class="row">
            <div class="blog-item">
                <div class="blog-desc text-left">
                    <p>When deciding upon creating a strong web presence for your company, understandably you will be thinking about what makes the <a href="http://www.imenuweb.co.uk/best-restaurant-websites">best restaurant website</a> It’s important for your website to reflect quality and professionalism, your website must be user friendly, your website must be kept up to date and in good working order, it is important that your website can be found in all of the major search engines such as Google, it is important for your website to be connected to your social media channels such as Facebook. iMenuWeb ticks all of these boxes and much more. If you're looking for the best <a href=" http://www.imenuweb.co.uk/best-restaurant-websites">restaurant website</a> then you will not need to look any further.</p><p>&nbsp;</p>
                    <p>For many people setting up their own website can be a daunting task, busy business owners like yourself do not have the time to dedicate to such tasks and that’s where we come in. We will create a branded website just for your business, we will take care of technical support and your site maintenance. We also offer training for you and your staff to ensure that you can maximise the potential of your website. Once your website is up and running you can start taking orders immediately without the worry of losing large chunks of your hard earned profits through ridiculous commissions and fees.</p><p>&nbsp;</p>
                    <p>Contact us today for a no-obligation demo, you have nothing to lose. Contact us today!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- REVIEWS Start -->
<!-- Footer Start -->
@{
    Html.RenderPartial("Include_Views/Footer_Landing_View");
}

<!-- Footer End -->
<!-- start scrollUp  -->

<div id="scrollUp">
    <i class="fa fa-angle-up"></i>
</div>

<!-- modernizr js -->
