﻿@section meta_info{
    <title>TITLE    EPOS Restaurant Software | Point of Sale for Restaurants | iMenuWeb</title>
    <meta name="description" content="The iMenuWeb EPOS system is one of the most powerful on the market, yet its simplicity makes it the best available. For more details, please contact us : T: +44 (0) 1283 68 40 20, E: info@imenuweb.co.uk" />
    <link rel="alternate" href="http://www.imenuweb.co.uk/" hreflang="en-gb" />
    <link rel=”canonical” href=”http://www.imenuweb.co.uk” />
<script type='application/ld+json'>                   
{                   
    @context: "http://www.schema.org",                   
    @type: "LocalBusiness",                   
    name: "iMenuWeb",                   
    url: "http://www.imenuweb.co.uk/",                   
    telephone: "+44 1283 684020",                   
    priceRange : "$$-$$$",                   
    logo: "http://www.imenuweb.co.uk/images/logo/logo_footer.png",                   
    image: "http://www.imenuweb.co.uk/Images/Tab_Images/tab-image2.png",   "description": "iMenuWeb is tailor made for takeaways, restaurants and any business which operates in the hospitality industry. Both the branded website and the EPOS system have been developed based on feedback from our clients.",                   
    address: {                   
    @type: "PostalAddress",                   
    streetAddress: "14 Albert Street",                   
    addressLocality: "Burton-on-Trent",                   
    addressRegion: "East Staffordshire",                   
    postalCode: "DE14 2NL",                   
    addressCountry: "England"                   
    },                   
    geo: {                   
    @type: "GeoCoordinates",                   
    latitude: "52.8103846",                   
    longitude: "-1.6410891"                   
    },                   
    openingHours: "Mo, Tu, We, Th, Fr 09:00-17:00",                   
    contactPoint: {                   
    @type: "ContactPoint",                   
    telephone: "+44 1283 684020",                   
    contactType: "customer support"                   
    },                   
    sameAs: [                   
    https://www.facebook.com/iMenuWeb/,                   
    https://www.youtube.com/channel/UChY73bLw33Gl2J8uK7BNC7w                   
    ]                   
}                   
</script>       
}

<!--Header Start-->
@{
    Html.RenderPartial("Include_Views/Header");
}


<!--Header End-->
<!-- Slider Section Start Here -->
@{
    Html.RenderPartial("Include_Views/Slider");
}
<!-- Slider Section end Here -->
<!-- MODULE SECTION -->

@{
    Html.RenderPartial("Include_Views/Module_Section");
}

<!-- MODULE SECTION -->
<!-- TABBED SECTION -->

@{
    Html.RenderPartial("Include_Views/Tabbed_Section");
}


<!-- TABBED SECTION -->
<!-- Contact Us -->

@{
    Html.RenderPartial("Include_Views/Contact_Buttons_Landing_View");
}

<!-- Contact Us -->
<!-- BIGGER BUSINESS SECTION -->
@*@{
        Html.RenderPartial("Include_Views/Bigger_Business");
    }*@

<!-- BIGGER BUSINESS SECTION -->
<!-- Customer Review Section -->
@*@{
        Html.RenderPartial("Include_Views/Customer_Review");
    }*@

<!-- Customer Review Section -->
<!-- Footer Start -->

@{
    Html.RenderPartial("Include_Views/Footer_Landing_View");
}

<!-- Footer End -->
<!-- start scrollUp  -->

<div id="scrollUp">
    <i class="fa fa-angle-up"></i>
</div>
<!-- modernizr js -->